<div class="geckometer">
    <div class="row">
        <div class="col-xs-12">
          <canvas class="gecko-canvas"></canvas>  
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <div class="label label-warning gecko-value" ng-bind="::meter.min"></div>
        </div>
        <div class="col-xs-4">
            <div class="label-label-info gecko-value" ng-bind="::meter.value"></div>
        </div>
        <div class="col-xs-4">
            <div class="label label-danger gecko-value" ng-bind="::meter.max"></div>
        </div>
    </div>
</div>